* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e borda sejam incluídos na largura/altura total */
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Impede rolagem lateral */
    background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe pelo menos 100% da altura da viewport */
    color: #333;
}

header {
    color: rgb(71, 21, 206); /* Garante que o texto no header fique branco */
    padding: 1rem;
    text-align: center;
}

nav {
    margin: 1rem 0;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #4c66af;
}

.container {
    flex: 1; /* Ocupará o espaço restante da tela, empurrando o footer para baixo se necessário */
    max-width: 100vw; /* Impede que a largura ultrapasse o tamanho da tela */
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

footer {
    
    color: rgb(39, 41, 148);
    text-align: center;
    padding: 0.5rem;
    width: 100%;
}

h1 {
    color: #001aff;
    text-align: center;
    margin-bottom: 1.5rem; /* Aumenta o espaço abaixo do título */
}

p {
    line-height: 1.6;
    margin-top: 1rem; /* Adiciona um pouco de espaço acima dos parágrafos */
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #4c66af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}

.button:hover {
    background-color: #4c66af;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.feature {
    background-color: #e7eef3;
    padding: 1rem;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    margin-bottom: 1rem;
}

.feature h3 {
    color: #333;
}

.feature p {
    color: #555;
}
