<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Publicação - Semantizar 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <a href="/">
            <h1><img src="{{ url_for('static', filename='img/semantizar2logo.png') }}" alt="Logo do Semantizar com um ícone representando análise de texto" width="400"></h1>
        </a>
    </header>

    {% include 'nav.html' %}

    <div class="container">
        <h2>Selecione o tipo da publicação para cadastro</h2><br>
        <div class="cadastroimg">
            
                <div class="item">
                    <span>Livro</span>
                    <a href="cadastroLivro"><i class="bi bi-book-fill custom-icon"></i></a>
                </div>
        
                <!-- Artigo -->
                <div class="item">
                    <span>Artigo</span>
                    <a href="cadastroArtigo"><i class="bi bi-file-text-fill custom-icon"></i></a>
                </div>
        
                <!-- Adicione mais itens conforme necessário -->
                <div class="item">
                    <span>Documento acadêmico</span>
                    <a href="cadastroDocAcademico"><i class="bi bi-file-earmark-text-fill custom-icon"></i></a>
                </div>
        </div>

    </div>
         

    <footer>
        <p>&copy; 2025 Semantizar 2. Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
