<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Documento Acadêmico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <a href="/">
            <h1>SEMANTIZAR</h1>
        </a>
    </header>

    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="bi bi-list" id="btn-exp"></i>
        </div><!--btn-expandir-->
    
        <ul>
            <li class="item-menu ativo">
                <a href="/">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="cadastro">
                    <span class="icon"><i class="bi bi-clipboard2-check"></i></i></span>
                    <span class="txt-link">Cadastrar</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="visualizacao">
                    <span class="icon"><i class="bi bi-columns-gap"></i></span>
                    <span class="txt-link">Visualização</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="sobre">
                    <span class="icon"><i class="bi bi-info-circle"></i></i></span>
                    <span class="txt-link">Sobre</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="contato">
                    <span class="icon"><i class="bi bi-person-fill"></i></i></i></span>
                    <span class="txt-link">Contato</span>
                </a>
            </li>
    
    </nav>


    <div class="forms">

        <form action="/cadastroDocAcademico" method="post" enctype="multipart/form-data">

            <div id="authors-container">
                <div class="author-group">
                    <label for="autor">Autores</label><br>
                    <input type="text" name="autor[]" placeholder="Digite o nome do autor(a)" required>
                    <button type="button" class="remove-author" onclick="removeAuthor(this)">Remover</button>
                    <button type="button" onclick="addAuthor()">Adicionar</button><br>
                </div>
            </div>

            <label for="titulo">Título</label><br>
            <input type="text" id="titulo" name="titulo" placeholder="Digite o titulo do documento acadêmico"><br>
    
            <label for="ano">Ano</label><br>
            <input type="text" id="ano" name="ano" min="1000" max="9999" maxlength="4" pattern="\d{4}" required><br>

            <label for="orientador">Orientador</label><br>
            <input type="text" id="orientador" name="orientador"  placeholder="Digite o nome do orientador"><br>
    
            <label for="coorientador">Coorientador</label><br>
            <input type="text" id="coorientador" name="coorientador" placeholder="Digite o nome do coorientador"><br>
    
            <label for="universidade">Universidade</label><br>
            <select id="universidade" name="universidade">
                <option value="ufrj,Universidade Federal do Rio de Janeiro">Universidade Federal do Rio de Janeiro (UFRJ)</option>
                <option value="usp,Universidade de São Paulo">Universidade de São Paulo (USP)</option>
                <option value="ufmg,Universidade Federal de Minas Gerais">Universidade Federal de Minas Gerais (UFMG)</option>
                <option value="ufg,Universidade Federal de Goiás">Universidade Federal de Goiás (UFG)</option>
                <option value="outra,Outra">Outra</option>
            </select><br><br>
    
            <label>Tipo do documento acadêmico</label><br>
            <div class="radio-group">
                <input type="radio" id="tese" name="tipo_documento" value="tese">
                <label for="tese">Tese</label>
            </div>
            <div class="radio-group">
                <input type="radio" id="dissertacao" name="tipo_documento" value="dissertacao">
                <label for="dissertacao">Dissertação</label>
            </div>
            <div class="radio-group">
                <input type="radio" id="tcc" name="tipo_documento" value="tcc">
                <label for="tcc">TCC</label>
            </div>

            <div class="file-upload">
                <input type="file" id="file" name="file" multiple>
                <label for="file" id="drag-area">Arraste o arquivo aqui ou clique para selecionar</label>
            </div>

            <div id="file-name-display" class="file-name-display">
                <p>Nenhum arquivo selecionado</p>
            </div>

            <button type="submit">Enviar</button>

        </form>

        <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
         
    </div>
    
    

    <footer>
        <p>&copy; 2024 Semantizar 2. Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
