<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantizar 2.0 - Cadastro termos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="inner">
            <div class="logo">
                <a href="/">
                    <img class="logo2semantizar" src="{{ url_for('static', filename='img/semantizar2logo3.png') }}" alt="Logo do Semantizar 2.0 com um ícone representando análise de texto">
                </a>
            </div>
    
            <nav>
                <ul>
                    <li><a href="/">Página inicial</a></li>
                    <li><a href="sobre">Sobre</a></li>
                    <li><a href="contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="indicador-pagina">

        <p><a href="/">Página inicial</a> / <a href="cadastro">cadastro</a> / cadastroTermos</p>

    </div>

    <h1>Cadastro de Termos</h1>

    
    <div style="display: flex; justify-content: center;">
        <h2><img class="linhacadastro"  src="{{ url_for('static', filename='img/linhadecadastrosemantizar2.png') }}" alt="linha de cadastro do sistema Semantizar 2.0"></h2>
    </div>


    <div class="forms-termos">

        <h2>Digite os termos que você deseja adicionar</h2>
            
        <div class="mb-3">
            <input type="text" class="form-control" id="termoInput" placeholder="Digite um termo" />
            <span id="btn-add" onclick="adicionarTermo()">Adicionar termo</span><br>
        </div>

        <h3>Termos Adicionados:</h3>
        <ul id="termosLista" class="list-group">
            <!-- Os termos serão listados aqui -->
            
        </ul>

        <button id="finalizarBtn" class="btn btn-success" onclick="finalizarCadastro()">Gerar Relacionamentos</button>
    </div>

    <div id="button-form" class="forms-arq">

        <h2>Ou adicione o arquivo com os termos</h2>

        <p class="text-muted">Envie apenas arquivos no formato <strong>.txt</strong></p>
        <input type="file" id="file-upload-btn-txt" name="file-upload-btn-txt" accept=".txt">
        
        <div class="file-upload">
            <input type="file" id="file-txt" name="file-txt" accept=".txt">
            <label for="file" id="drag-area-txt">Arraste o arquivo aqui ou clique para selecionar</label>
        </div>

        <div id="file-name-display-txt" class="file-name-display-txt">
            <p>Nenhum arquivo selecionado</p>
        </div>
        <button id="send-button" type="submit" onclick="moverValidacaoRelacao()">Gerar Relacionamentos</button>
    </div>

    <div id="loading" style="display: none; text-align: center; margin-top: 20px;">
        <p>Processando... Por favor, aguarde.</p>
        <div class="spinner"></div>
    </div>
    
    <footer>
        <p>&copy; 2025 Semantizar 2.0. Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
