<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Contato - Semantizar2</title>
</head>
<body>
    <header>
        <a href="/">
            <h1>SEMANTIZAR</h1>
        </a>
        
        <h2>Contato</h2>
    </header>

    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="bi bi-list" id="btn-exp"></i>
        </div><!--btn-expandir-->
    
        <ul>
            <li class="item-menu ativo">
                <a href="/">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="cadastro">
                    <span class="icon"><i class="bi bi-clipboard2-check"></i></i></span>
                    <span class="txt-link">Cadastrar</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="visualizacao">
                    <span class="icon"><i class="bi bi-columns-gap"></i></span>
                    <span class="txt-link">Dashboard</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="sobre">
                    <span class="icon"><i class="bi bi-info-circle"></i></i></span>
                    <span class="txt-link">Sobre</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="contato">
                    <span class="icon"><i class="bi bi-person-fill"></i></i></i></span>
                    <span class="txt-link">Contato</span>
                </a>
            </li>
    
    </nav>
    
    

    <div class="container">

        <form action="https://formspree.io/f/myzzbawb" method="POST">
            <label for="name">Nome</label><br>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="email">E-mail</label><br>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="message">Mensagem:</label><br>
            <textarea id="message" name="message" style="width: 500px; height: 200px;" required></textarea><br>
            
            <button type="submit">Enviar</button>
        </form>

    </div>
    
    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
