<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Contato - Semantizar2</title>
</head>
<body>
    <header>
        <a href="/">
            <h1><img src="{{ url_for('static', filename='img/semantizar2logo.png') }}" alt="Logo do Semantizar com um ícone representando análise de texto" width="400"></h1>
        </a>
        
    </header>

    {% include 'nav.html' %}
    
    <div class="container">

        <h2>Contato</h2>

        <form action="https://formspree.io/f/myzzbawb" method="POST">
            <label for="name">Nome</label><br>
            <input type="text" id="name" name="name" placeholder="Digite o seu nome" required><br><br>
            
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" placeholder="Digite o seu email" required><br><br>
            
            <label for="message">Mensagem</label><br>
            <textarea id="message" name="message" style="width: 500px; height: 200px;" required></textarea><br>
            
            <button type="submit">Enviar</button>
        </form>

    </div>

    <footer>
        <p>&copy; 2025 Semantizar 2. Todos os direitos reservados.</p>
    </footer>
    
    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
