<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

    <script>
        const options = {
            bottom: '32px', // Posição do botão
            right: '32px', // Posição do botão
            time: '0.5s', // Velocidade da transição
            mixColor: '#7b9afe', // Cor de transição (tom de azul)
            backgroundColor: '#2c2d30', // Cor de fundo no modo escuro
            buttonColorDark: '#8196d6', // Cor do botão no modo escuro
            buttonColorLight: '#ffffff', // Cor do botão no modo claro
            saveInCookies: true, // Salvar a preferência do usuário
            label: '🌙', // Ícone do botão
        };
    
        const darkmode = new Darkmode(options);
        darkmode.showWidget();
    </script>