<div id="formArtigo" class="formulario">

    <label for="revista">Revista</label><br>
    <input type="text" id="revista" name="revista" placeholder="Digite o nome da revista" required><br>

    <label for="volume">Volume</label>
    <label for="numero" style="margin-left: 92px;">Número</label><br>
    <input type="number" id="volume" name="volume" placeholder="Digite o volume" required>
    <input type="number" id="numero" name="numero" placeholder="Digite o número" style="margin-left: 20px;" required><br>

    <label for="doi">DOI</label><br>
    <input type="text" id="doi" name="doi" placeholder="Digite o DOI" required><br>

</div>
