<div id="formDissertacao" class="formulario">

    <label for="orientador">Orientador</label><br>
    <input type="text" id="orientador" name="orientador" placeholder="Digite o nome do orientador" required><br>

    <label for="coorientador">Coorientador</label><br>
    <input type="text" id="coorientador" name="coorientador" placeholder="Digite o nome do coorientador"><br>

    <label for="universidade">Universidade</label><br>
<select id="universidade" name="universidade">
    <option value="ufrj">Universidade Federal do Rio de Janeiro (UFRJ)</option>
    <option value="usp">Universidade de São Paulo (USP)</option>
    <option value="ufmg">Universidade Federal de Minas Gerais (UFMG)</option>
    <option value="ufop">Universidade Federal de Ouro Preto (UFOP)</option>
    <option value="ufg">Universidade Federal de Goiás (UFG)</option>
    <option value="unicamp">Universidade Estadual de Campinas (Unicamp)</option>
    <option value="ufsc">Universidade Federal de Santa Catarina (UFSC)</option>
    <option value="ufpr">Universidade Federal do Paraná (UFPR)</option>
    <option value="ufba">Universidade Federal da Bahia (UFBA)</option>
    <option value="ufc">Universidade Federal do Ceará (UFC)</option>
    <option value="ufpe">Universidade Federal de Pernambuco (UFPE)</option>
    <option value="ufes">Universidade Federal do Espírito Santo (UFES)</option>
    <option value="uft">Universidade Federal do Tocantins (UFT)</option>
    <option value="ufam">Universidade Federal do Amazonas (UFAM)</option>
    <option value="ufpa">Universidade Federal do Pará (UFPA)</option>
    <option value="ufpb">Universidade Federal da Paraíba (UFPB)</option>
    <option value="ufpi">Universidade Federal do Piauí (UFPI)</option>
    <option value="ufma">Universidade Federal do Maranhão (UFMA)</option>
    <option value="ufal">Universidade Federal de Alagoas (UFAL)</option>
    <!-- Universidades Estaduais -->
    <option value="uerj">Universidade do Estado do Rio de Janeiro (UERJ)</option>
    <option value="uem">Universidade Estadual de Maringá (UEM)</option>
    <option value="uece">Universidade Estadual do Ceará (UECE)</option>
    <option value="uepb">Universidade Estadual da Paraíba (UEPB)</option>
    <option value="uespi">Universidade Estadual do Piauí (UESPI)</option>
    <option value="uesc">Universidade Estadual de Santa Cruz (UESC)</option>
    <option value="uefs">Universidade Estadual de Feira de Santana (UEFS)</option>
    <option value="uel">Universidade Estadual de Londrina (UEL)</option>
    <option value="uepg">Universidade Estadual de Ponta Grossa (UEPG)</option>
    <!-- PUCs -->
    <option value="puc-rio">Pontifícia Universidade Católica do Rio de Janeiro (PUC-Rio)</option>
    <option value="puc-sp">Pontifícia Universidade Católica de São Paulo (PUC-SP)</option>
    <option value="puc-mg">Pontifícia Universidade Católica de Minas Gerais (PUC-MG)</option>
    <option value="puc-pr">Pontifícia Universidade Católica do Paraná (PUC-PR)</option>
    <option value="puc-rs">Pontifícia Universidade Católica do Rio Grande do Sul (PUC-RS)</option>
    <option value="puc-go">Pontifícia Universidade Católica de Goiás (PUC-GO)</option>
    <option value="puc-campinas">Pontifícia Universidade Católica de Campinas (PUC-Campinas)</option>
    <option value="outra">Outra</option>
</select><br><br>

    <label>Tipo do documento acadêmico</label><br>
    <div class="radio-group">
        <input type="radio" id="tese" name="tipo_documento" value="tese">
        <label for="tese">Tese</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="dissertacao" name="tipo_documento" value="dissertacao">
        <label for="dissertacao">Dissertação</label>
    </div>
    <div class="radio-group">
        <input type="radio" id="tcc" name="tipo_documento" value="tcc">
        <label for="tcc">TCC</label>
    </div>

</div>
