<div id="formArtigo" class="formulario">

    <label for="revista">Revista <abbr title="campo obrigatório">*</abbr></label><br>
    <input type="text" id="revista" name="revista" placeholder="Digite o nome da revista" required aria-required="true"><br>

    <label for="volume">Volume <abbr title="campo obrigatório">*</abbr></label><br>
    <input type="number" id="volume" name="volume" placeholder="Digite o volume" required aria-required="true"><br>

    <label for="numero">Número <abbr title="campo obrigatório">*</abbr></label><br>
    <input type="number" id="numero" name="numero" placeholder="Digite o número" required aria-required="true"><br>

    <label for="doi">DOI</label><br>
    <input type="text" id="doi" name="doi" placeholder="Digite o DOI"><br>

</div>
