<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Semantizar 2 - Um sistema de extração de relações semânticas em documentos acadêmicos.">
    <title>Semantizar 2.0</title>

    <!-- Link para o arquivo CSS na pasta static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="#">
</head>
<body>

    <header>
        <div class="inner">
            <div class="logo">
            
                    <img class="logo2semantizar" src="{{ url_for('static', filename='img/semantizar2logo3.png') }}" alt="Logo do Semantizar 2.0 com um ícone representando análise de texto">
               
            </div>
    
            <nav>
                <ul>
                    <li><a href="sobre">Sobre</a></li>
                    <li><a href="contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>


<div class="container">

    <div class="logo3semantizar">

        <img  src="{{ url_for('static', filename='img/semantizar2logo4.png') }}" alt="Logo do Semantizar 2.0 com um ícone representando análise de texto">

    </div>

    <div class="texto-semantizar">

        <p style="font-size: 30px;"><strong>Semantizar 2.0</strong></p>
        <p>Facilite a extração e análise de relações semânticas em textos acadêmicos</p>

    </div>

    <a href="cadastro" class="button" style="margin-top: 40px;">Iniciar agora!</a>

    <div class="texto-inicial">
        <p>O Semantizar 2.0 é um sistema computacional para a extração semi-automática de relações semânticas em livros, artigos e documentos acadêmicos, como teses, 
            dissertações e trabalhos de conclusão de curso. Nosso objetivo é facilitar a análise semântica de textos a partir de um conjunto de termos previamente definidos, auxiliando profissionais e acadêmicos de Ciência da Informação na explicitação de relações entre conceitos para a construção de estruturas semânticas. </p>
    </div>

    <div class="features">
        <div class="feature">
            <h3>Extração semi-automática</h3>
            <p>Identifique relações semânticas em textos com o clique de um botão.</p>
        </div>
        <div class="feature">
            <h3>Interface intuitiva</h3>
            <p>Navegue facilmente através de uma interface limpa e moderna.</p>
        </div>
        <div class="feature">
            <h3>Resultados precisos</h3>
            <p>Obtenha resultados detalhados e de alta precisão em suas análises.</p>
        </div>
    </div>
    <div class="link-container">
        <a href="sobre" class="link">Saiba mais sobre o Semantizar 2.0</a>
        <a href="processoExtracaoSemantica" class="link">O processo de extração de relações</a>
      </div> 
</div>

  
<footer>
    <p>&copy; 2025 Semantizar 2.0. Todos os direitos reservados.</p>
</footer>


    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
