<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Sobre - Semantizar2</title>
</head>
<body>
    <header>
        <a href="/">
            <h1><img src="{{ url_for('static', filename='img/semantizar2logo.png') }}" alt="Logo do Semantizar com um ícone representando análise de texto" width="300"></h1>
        </a>
    </header>

    <nav class="menu-lateral">

        <div class="btn-expandir">
            <i class="bi bi-list" id="btn-exp"></i>
        </div><!--btn-expandir-->
    
        <ul>
            <li class="item-menu ativo">
                <a href="/" title="Inicio">
                    <span class="icon"><i class="bi bi-house-door"></i></span>
                    <span class="txt-link">Início</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="cadastro" title="Cadastrar">
                    <span class="icon"><i class="bi bi-clipboard2-check"></i></i></span>
                    <span class="txt-link">Cadastrar</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="visualizacao" title="Visualização">
                    <span class="icon"><i class="bi bi-columns-gap"></i></span>
                    <span class="txt-link">Visualização</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="sobre" title="Sobre">
                    <span class="icon"><i class="bi bi-info-circle"></i></i></span>
                    <span class="txt-link">Sobre</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="contato" title="Contato">
                    <span class="icon"><i class="bi bi-person-fill"></i></i></i></span>
                    <span class="txt-link">Contato</span>
                </a>
            </li>
    
    </nav>

    <div class="container">
        <h2>Sobre o Semantizar</h1>
        <p>O <b>Semantizar</b> é um sistema web, desenvolvido para facilitar a análise e explicitação de relações semânticas em textos acadêmicos. Originalmente criado em PHP, o sistema está sendo refatorado para Python, trazendo melhorias e maior flexibilidade de desenvolvimento.<br><br>

            O principal objetivo do Semantizar é auxiliar pesquisadores e estudantes na extração e organização de informações contidas em textos acadêmicos, utilizando estruturas classificatórias e um modelo de extração de relações semânticas robusto. A plataforma permite identificar, analisar e armazenar relações semânticas de forma intuitiva, promovendo uma melhor compreensão dos conteúdos analisados.<br><br>
            
            O projeto, atualmente em sua versão 2.0, apresenta como base um diagrama de entidade-relacionamento e uma tabela de relações semânticas, garantindo uma estrutura sólida e eficiente para armazenamento e manipulação de dados. Além disso, a interface do sistema é construída com HTML e CSS, enquanto o banco de dados MySQL suporta toda a infraestrutura de dados.<br><br>
            
            Com um design centrado no usuário e funcionalidades aprimoradas, o Semantizar busca ser uma ferramenta indispensável no universo acadêmico, promovendo a automação e a eficiência no tratamento de textos e dados científicos.<br></p>

    </div>

    <footer>
        <p>&copy; 2024 Semantizar 2. Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
