<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Semantizar 2 - Um sistema de extração de relações semânticas em documentos acadêmicos.">
    <title>Semantizar 2.0 - Validação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <div class="inner">
            <div class="logo">
                <a href="/">
                    <img class="logo2semantizar" src="{{ url_for('static', filename='img/semantizar2logo3.png') }}" alt="Logo do Semantizar 2.0 com um ícone representando análise de texto">
                </a>
            </div>
    
            <nav>
                <ul>
                    <li><a href="/">Página inicial</a></li>
                    <li><a href="sobre">Sobre</a></li>
                    <li><a href="contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="indicador-pagina">

        <p><a href="/">Página inicial</a> / <a href="cadastro">Cadastro</a> / <a href="cadastroTermos">Cadastro termos</a> / Validação das relações</p>

    </div>

    <h1>Validação das relações semânticas</h1>

    <div style="display: flex; justify-content: center;">
        <h2><img class="linhacadastro"  src="{{ url_for('static', filename='img/linhadecadastrosemantizar3.png') }}" alt="linha de cadastro do sistema Semantizar 2.0"></h2>
    </div>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="d-inline-block">
            <table class="table table-bordered text-center mx-auto">
                <thead>
                    <tr>
                        <th>Termo 1</th>
                        <th>Termo 2</th>
                        <th>Frase</th>
                        <th>Validação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for par in relacoes %}
                    <tr>
                        <td>{{ par.termo1 }}</td>
                        <td>{{ par.termo2 }}</td>
                        <td>{{ par.frase }}</td>
                        <td>
                            <button class="btn btn-success btn-sm"
                                style="cursor: pointer;" 
                                data-termo1="{{ par.termo1 }}" 
                                data-termo2="{{ par.termo2 }}" 
                                data-frase="{{ par.frase }}" 
                                onclick="validarRelacao(this, true)">✅
                            </button>
                            <button class="btn btn-danger btn-sm"
                                style="cursor: pointer;" 
                                data-termo1="{{ par.termo1 }}" 
                                data-termo2="{{ par.termo2 }}" 
                                data-frase="{{ par.frase }}" 
                                onclick="validarRelacao(this, false)">❌
                            </button>                        
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    <footer>
        <p>&copy; 2025 Semantizar 2.0. Todos os direitos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>