<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização - Semantizar 2.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <header>
    <div class="inner">
        <div class="logo">
            <a href="/">
                <img class="logo2semantizar" src="{{ url_for('static', filename='img/semantizar2logo3.png') }}" alt="Logo do Semantizar 2.0 com um ícone representando análise de texto">
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="/">Página inicial</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>



<div class="indicador-pagina">

  <p><a href="/">Página inicial</a> / <a href="cadastro">Cadastro</a> / <a href="cadastroTermos">Cadastro termos</a> / <a href="validacaoRelacao">Validação das relações</a> / Visualizações das relações</p>

</div>

<h1>Visualização das Relações</h1>

<div style="display: flex; justify-content: center;">
  <img class="linhacadastro" src="{{ url_for('static', filename='img/linhadecadastrosemantizar4.png') }}" alt="linha de cadastro do sistema Semantizar 2.0">
</div>

    
    <h2>Relações Extraídas</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Termo 1</th>
                <th>Predicado</th>
                <th>Termo 2</th>
            </tr>
        </thead>
        <tbody id="relations-table">
            <!-- Os dados serão carregados via script.js -->
        </tbody>
    </table>

    <h2>Frequência de Termos</h2>
    <canvas id="chart"></canvas>

    <h2>Mapa Conceitual</h2>
    <div id="graph-container"></div>

    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>

</body>
</html>
