<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Semantizar 2 - Um sistema de extração de relações semânticas em documentos acadêmicos.">
    <title>Semantizar</title>
    <!-- Link para o arquivo CSS na pasta static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<header>
    <a href="/">
        <h1><img src="{{ url_for('static', filename='img/semantizar2logo.png') }}" alt="Logo do Semantizar com um ícone representando análise de texto" width="400"></h1>
    </a>
</header>

{% include 'nav.html' %}

<lord-icon
src="https://cdn.lordicon.com/lupuorrc.json"
trigger="loop"
style="width:250px;height:250px">
</lord-icon>

<div class="tabela">

    <h2>Visualização</h2><br>
    
    <table id="tabela">
        <caption>
          Intensificação agropecuária
        </caption>
        <thead>
          <tr>
            <th scope="col">temTraduçãoEN</th>
            <th scope="col">AGRICULTURA INTENSIFICATION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">temParte</th>
            <td>AGRONOMIA</td>
          </tr>
          <tr>
            <th scope="row">temParte</th>
            <td>INSTITUIÇÕES</td>
          </tr>
          <tr>
            <th scope="row">temParte</th>
            <td>SOCIOECONOMIA</td>
          </tr>
          <tr>
            <th scope="row">AGRICULTURA EXTENSIVA</th>
            <td>termoEspecificoGênero</td>
          </tr>
        </tbody>
      </table>

</div>

  
<footer>
    <p>&copy; 2025 Semantizar 2. Todos os direitos reservados.</p>
</footer>

    <script src="{{ url_for('static', filename='../static/js/script.js') }}"></script>
</body>
</html>
